{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% comment %} css {% endcomment %}
        <link rel="shortcut icon" type="image/jpg" href="{% static 'app/images/logo.jpg' %}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href="{%static 'app/css/style.css' %}" rel= "stylesheet" />
        <link href="{%static 'app/css/all.min.css' %}" rel= "stylesheet" />
        <link href="{%static 'app/css/owl.carousel.min.css' %}" rel= "stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}" />
        {% comment %} js {% endcomment %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
        <script src="{%static 'app/js/all.min.js' %}" ></script>
        <script src="{%static 'app/js/myscript.js' %}" ></script>
        <script src="{%static 'app/js/owl.carousel.min.js' %}" ></script>
        <script type="text/javascript">
          var user = '{{request.user}}'
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>
        <title>Mobile Shop Online</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% comment %} Header {% endcomment %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src=" {% static 'app/images/logo1.jpg' %} " width="50" height= "50" />
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sản phẩm 
                    </a>
                    <ul class="dropdown-menu">
                      {% for category in categories %}
                      <li><a class="dropdown-item" href="{% url 'category' %}?category={{category.slug}}">{{category.name}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'preview' %}">Giới thiệu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Liên hệ</a>
                  </li>

                </ul>
                <form class="d-flex" role="search" method= "POST" action = "{% url 'search' %}">
                  {% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "searched">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <span>HELLO! {{request.user}}</span>
                      <span><a href="{% url 'logout' %}">Logout</a></span>
                    </li>
                    <li class='form-inline my-2 my-lg-0'>
                      <a href= "{% url 'cart' %}" ><img id= 'cart-icon' src= "{% static 'app/images/shoppingcart.png' %}" /></a>
                    </li>
                    <li><p id='cart-total' >{{cartItems}}</p></li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Đăng kí</a>
                    </li>
                {% endif %}
             </ul>
             
            </div>
          </nav>

        {% comment %} main body {% endcomment %}
        {% block banner_slider %}{% endblock banner_slider  %}
        {% block main-content %}{% endblock main-content %}
        {% block footer %}{% endblock footer %}
        {% comment %} giao diện card  {% endcomment %}
        {% block cart_content %}{% endblock cart_content %}
        {% block content_checkout %}{% endblock content_checkout %}
        {% comment %} footer {% endcomment %}
        {% block register %}{% endblock register %}
        {% block login %}{% endblock login %}
        {% block search %}{% endblock search %}

        
      <script src="{%static 'app/js/cart.js' %}" ></script>
    </body>
</html>