{% extends 'app/base.html' %}
{% load static %}
{% block search %}
<h2>Result search for {{searched}}</h2>
<br />

<div class="row" style="width:100%" >
   {% for product in keys %}
   <div class="col-lg-3">
       <img class="thumbnail" src="{{product.ImageURL}}" >
       <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr>
        <button data-product={{product.id}} data-action = "add" class= "btn btn-outline-secondary add-btn update-cart">Add to cart</button>
        <a class="btn btn-outline-success" href="{% url 'detail' %}?id={{product.id}}">View</a>
        <h3 style="display: inline-block; float: right"><strong>{{product.price | floatformat:2 }}</strong></h3>
       </div>

   </div>
   {% endfor %}
</div>
<br/><br/><br/>



{% endblock search %}
